In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Exaploratory Data Analysis (EDA)

Unlike hypothesis-driven analyses guided by prior domain knowledge, EDA is a flexible, open-ended exploration that allows data scientists to examine data without predefined assumptions. It serves as an initial step to uncover patterns, trends, and correlations that inspire hypothesis generation. Practically, EDA helps formulate data-driven hypotheses, which can then be tested alongside domain-based hypotheses, enhancing understanding and validating insights.

###  Data Collection
Demonstrated on the [Ames Housing Dataset](https://www.kaggle.com/datasets/prevek18/ames-housing-dataset?select=AmesHousing.csv)
 obtained from [Kaggle](https://www.kaggle.com).

In [22]:
df = pd.read_csv('AmesHousing.csv')

### Descriptive Statistics

In [23]:
def summary(df: pd.DataFrame) -> pd.DataFrame:
    """Generate a comprehensive summary of a pandas DataFrame.

    Args:
        df (pd.DataFrame): DataFrame to be summarized.

    Returns:
        pd.DataFrame: 
    """
    summary = []
    for col_name in df.columns:
        col_dtype = df[col_name].dtype
        col_missing = df[col_name].isnull().sum()
        col_not_null = df[col_name].notnull().sum()
        col_unique = df[col_name].nunique()  # number of distinct values excluding NaN
        if col_unique <= 10:
            distinct_values = df[col_name].value_counts().to_dict()
        else:
            distinct_values = df[col_name].value_counts().head(10).to_dict()
        if np.issubdtype(df[col_name].dtype, np.number):
            col_min = df[col_name].min()
            col_max = df[col_name].max()
            col_mean = df[col_name].mean()
            col_std = df[col_name].std()
        else:
            col_min, col_max, col_mean, col_std = None, None, None, None
        summary.append({
            "column": col_name,
            "dtype": col_dtype,
            "missing": col_missing,
            "not_null": col_not_null,
            "unique": col_unique,
            "distinct_values": distinct_values,
            "min": col_min,
            "max": col_max,
            "mean": col_mean,
            "std": col_std
        })
    return pd.DataFrame(summary)

In [24]:
summary_df = summary(df)
display(summary_df)

,column,dtype,missing,not_null,unique,distinct_values,min,max,mean,std
0,Order,int64,0,2930,2930,"{2930: 1, 1: 1, 2914: 1, 2913: 1, 2912: 1, 291...",1.0,2.930000e+03,1.465500e+03,8.459625e+02
1,PID,int64,0,2930,2930,"{924151050: 1, 526301100: 1, 923226180: 1, 923...",526301100.0,1.007100e+09,7.144645e+08,1.887308e+08
2,MS SubClass,int64,0,2930,16,"{20: 1079, 60: 575, 50: 287, 120: 192, 30: 139...",20.0,1.900000e+02,5.738737e+01,4.263802e+01
3,MS Zoning,object,0,2930,7,"{'RL': 2273, 'RM': 462, 'FV': 139, 'RH': 27, '...",NaN,NaN,NaN,NaN
4,Lot Frontage,float64,490,2440,128,"{60.0: 276, 80.0: 137, 70.0: 133, 50.0: 117, 7...",21.0,3.130000e+02,6.922459e+01,2.336533e+01
...,...,...,...,...,...,...,...,...,...,...
77,Mo Sold,int64,0,2930,12,"{6: 505, 7: 449, 5: 395, 4: 279, 8: 233, 3: 23...",1.0,1.200000e+01,6.216041e+00,2.714492e+00
78,Yr Sold,int64,0,2930,5,"{2007: 694, 2009: 648, 2006: 625, 2008: 622, 2...",2006.0,2.010000e+03,2.007790e+03,1.316613e+00
79,Sale Type,object,0,2930,10,"{'WD ': 2536, 'New': 239, 'COD': 87, 'ConLD': ...",NaN,NaN,NaN,NaN
80,Sale Condition,object,0,2930,6,"{'Normal': 2413, 'Partial': 245, 'Abnorml': 19...",NaN,NaN,NaN,NaN
81,SalePrice,int64,0,2930,1032,"{135000: 34, 140000: 33, 130000: 29, 155000: 2...",12789.0,7.550000e+05,1.807961e+05,7.988669e+04

2) Data Cleaning and Preprocessing
3) Descriptive Statistics
4) Univariate Analysis
5) Bivariate Analysis
6) Multivariate Analysis
7) Feature Engineering
8) Visualization

### **EDA Checklist for Portfolio Project (Ames Housing Dataset)**  

#### **1Ô∏è‚É£ Data Loading & Overview**  
‚úÖ Load dataset (`pd.read_csv()`)  
‚úÖ Check shape (`df.shape`)  
‚úÖ Display first few rows (`df.head()`)  
‚úÖ Get column data types (`df.info()`)  

#### **2Ô∏è‚É£ Handling Missing Data**  
‚úÖ Count missing values (`df.isnull().sum()`)  
‚úÖ Visualize missing data (`sns.heatmap(df.isnull(), cbar=False)`)  
‚úÖ Decide on imputation strategies (mean, median, mode, or drop)  

#### **3Ô∏è‚É£ Summary Statistics & Distributions**  
‚úÖ Generate descriptive stats (`df.describe()`)  
‚úÖ Check categorical value counts (`df['column'].value_counts()`)  
‚úÖ Visualize distributions (histograms, KDE plots, boxplots)  
  ```python
  sns.histplot(df['SalePrice'], bins=50, kde=True)
  ```  
‚úÖ Detect skewness & transform if needed (`df.skew()`)  

#### **4Ô∏è‚É£ Outlier Detection & Handling**  
‚úÖ Use **boxplots** to find extreme values  
  ```python
  sns.boxplot(x=df['SalePrice'])
  ```  
‚úÖ Use **IQR method** to filter outliers  
‚úÖ Consider **log transformation** if necessary  

#### **5Ô∏è‚É£ Feature Relationships & Correlations**  
‚úÖ Compute correlation matrix (`df.corr()`)  
‚úÖ **Heatmap** of correlations  
  ```python
  sns.heatmap(df.corr(), annot=True, cmap="coolwarm", fmt=".2f")
  ```  
‚úÖ **Pairplot** of key numerical variables  
  ```python
  sns.pairplot(df[['SalePrice', 'GrLivArea', 'TotalBsmtSF']])
  ```  
‚úÖ **Categorical vs. Numerical** comparisons (bar plots, boxplots)  
  ```python
  sns.boxplot(x='OverallQual', y='SalePrice', data=df)
  ```  

#### **6Ô∏è‚É£ Feature Engineering & Transformation**  
‚úÖ Convert categorical variables (`pd.get_dummies()`, `LabelEncoder`)  
‚úÖ Create new features (e.g., **TotalSF = GrLivArea + TotalBsmtSF**)  
‚úÖ Standardize or normalize data (`MinMaxScaler`, `StandardScaler`)  

#### **7Ô∏è‚É£ Insights & Conclusion**  
‚úÖ Summarize key findings (price trends, influential features)  
‚úÖ Save cleaned dataset for modeling (`df.to_csv('cleaned_data.csv', index=False)`)  

---

Would you like me to help structure a **notebook template** for this? üöÄ